@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-condensed-fontfacekit/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}